# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Config files
configs/config.yaml

# Environment variables
.env

# Data files
data/raw/
data/processed/

secrets/

docker-compose.yml

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

notebooks/test.ipynb

composite-sun-475518-i3-b85974abe66d.json
github_secrets.txt