# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Config files
configs/config.yaml

# Environment variables
.env

# Data files
data/raw/
data/processed/

secrets/

docker-compose.yml

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/